.countryCard{
    border-radius: .25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: .25rem .25rem .5rem rgba(0,0,0,.05);
}

.dark .countryCard{
    background: hsl(209, 23%, 22%);
    color:#fff
}

.cardImg img{
    width:100%;
    aspect-ratio: 16/10;
}

.cardText{
    padding:1.5rem;
}

.cardText h2{
    font-size:1.25rem;
}

.stats{
    margin-top:.75rem;
}

.stats div{
    line-height: 1.5;
}

.stats b{
    font-weight: 600;
}